body {
  background-color: rgb(56, 56, 56);
  color: aqua;
  margin: 0;
}
.header {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.footer {
  background-color: black;
  text-align: center;
  padding: 10px;
}
h1 {
  margin: 0;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.content {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 136, 118);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  text-align: start;
  width: 15%;
  margin: 26px;
  font-weight: bold;
}
.content img {
  height: 200px;
  width: 100%;
}
img:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  .content {
    width: 33%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .content {
    width: 23%;
    margin: 28px;
  }
}
